
@mixin title($font-size, $color) {
  font-family: $gagalin;
  font-size: $font-size;
  color: $color;
}

@mixin Ubuntu($font-size, $font-weight) {
  font-family: 'Ubuntu', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin gagalin($font-size, $color) {
  font-family: $gagalin;
  font-size: $font-size;
  color: $color;
}