
  @mixin tablets() {
    @media screen and (max-width: 768px) {
    @content;

    }
  }

  @mixin phones() {
    @media screen and (max-width: 480px) {
    @content;
    }
  }

  @mixin phones_small() {
    @media screen and (max-width: 320px) {
    @content;
    }
  }

@mixin title($font-size, $color) {
  font-family: $gagalin;
  font-size: $font-size;
  color: $color;
}

@mixin gagalin($font-size, $color) {
  font-family: $gagalin;
  font-size: $font-size;
  color: $color;
}