//color
$yellow: #f9b43b;
$orange: #e45028;
$black: #2f3234;
$red: #e35028;

//fonts

$gagalin: 'gagalinregular';
$lifehack: 'lifehackmedium';


$tablets: 678px;
$phones: 480px;
$phones-small: 370px;


@function rem($px){
  @return $px / 16px + 0rem;
  }
