//color
$yellow: #f9b43b;
$orange: #e45028;
$black: #2f3234;
$red: #e35028;

//fonts
$ubuntu-medium: 'Ubuntu-Medium';
$ubuntu-Bold: 'Ubuntu-Bold';
$ubuntu: 'Ubuntu';
$ubuntu-Light: 'Ubuntu-Light';
$gagalin: 'gagalinregular';
$lifehack: 'lifehackmedium';


$tablets: 678px;
$phones: 480px;
$phones-small: 370px;