.best {
  position: relative;
  background: url('../img/bg-best.png') center center / cover no-repeat;
}

.best__list{
  display: flex;

  @include phones {
    flex-direction: column;
  }
  @include phones-small {
    flex-direction: column;
  }

}
.best__item {
flex: 1;
margin-right: rem(35px); 
text-align: center;

&:last-child {
  margin-right: 0px;
}
@include phones {
  display: flex;
  margin-right: 0;
  margin-bottom: rem(52px);
  padding: 0px 6%;
}
}

.best__pic {
  margin-bottom: rem(38px);
  max-width: 100%;
  min-height: rem(89px);

@include tablets {
 margin-bottom: rem(34px);
}

@include phones {
 margin-right: rem(28px);
}
}
.best__desc {
  @include phones {
    text-align: left;
  }
}
.best__title {
  margin-bottom: rem(15px);
  font-family: $lifehack;
  font-size: rem(24px);
}
.best__text p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: rem(14px);
  line-height: 1.71;
  color: #828080;


}