.best {
  position: relative;
  background: url('../img/bg-best.png') center center / cover no-repeat;
}

.best__list{
  display: flex;

}
.best__item {
flex: 1;
margin-right: rem(35px); 
text-align: center;

&:last-child {
  margin-right: 0px;
}
}

.best__pic {
  margin-bottom: rem(38px);
  max-width: 100%;
}


.best__title {
  margin-bottom: rem(25px);
  font-family: $lifehack;
  font-size: rem(24px);
}
.best__text p {
  @include Ubuntu(rem(14px), 300);
  line-height: 1.71;
  color: #828080;

}