.menu__buttons {
  display: flex;
  align-items: center;
}

.button {
  padding: rem(12px) rem(15px);
  border-radius: rem(5px);
  background: $red;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: rem(13px);
  margin-right: rem(25px);

  &--phones {
    visibility: hidden;

    @include phones {
      visibility: visible;
      margin: rem(29px) (20px);
      padding: rem(15px) rem(16px);
      background: $black;
    }
  }

  &--reviews {
    background: $black;

    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      margin: rem(27px) 0 0 rem(133px);
    }

    @include phones {
      display: none;
    }
  }

  &--nonactive {
    background: transparent;
    text-transform: none;
    font-family: 'ubuntulight';
    font-size: rem(14px);
  }
}

.hamburger {
  display: none;


  @include tablets {
    display: flex;
  }
}