.button {
  padding: 12px 15px;
  border-radius: 5px;
  background: $red;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  margin-right: 4px;

  &--reviews {
    background: $black;
  }
}
