.footer {
  position: absolute;
  min-width: 100%;
  background-color: $black;
  bottom: 0;
  left: 0;
  padding: rem(10px) 0;
  background: url('../img/footer-texture.png') center center / cover no-repeat;
}

.footer__col {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__address {
  text-decoration: none;
  color:#fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: rem(14px);
  font-style: normal;
  line-height: rem(24px);

  @include phones {
    justify-content: center;
  }
}
.footer__phone {
  display: flex;
 align-items: center;

 @include phones {
   justify-content: center;
   margin-bottom: rem(10px);
 }
}
.footer__phone-pic{
  margin-right: rem(5px);
}
.contacts__phone {
  text-decoration: none;
  color: $red;
  line-height: rem(24px);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.social-networks__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include phones {
    justify-content: center;
    margin-bottom: rem(10px);
  }
}
.social-networks__item {
margin-right: rem(20px);
}