.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: rem(5px);

}
.header__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}