.nav {
  margin-right: 14px;
}
.nav__list {
  display: flex;
  align-items: center;

}
.nav__item {
  display: flex;
  align-items: center;
  margin-right: 15px;

  &:after {
    content: "•";
    color: #fff;
    margin-left: 14px;
  }
  &:last-child {
    margin-right: 0px;
    
    &:after {
      display: none;
  }
}
}
.nav__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
 @include Ubuntu(13px, 700);
}