.menu {
  position: relative;
  background: url('../img/section_menu/menu-bg.png') center center / cover no-repeat;

}

.title--color--white {
  @include title(rem(72px), white);
  position: absolute;
  top: rem(111px);
  left: rem(102px);

  @include tablets {
    top: rem(60px);
    left: rem(31px);
  }
}

.accordeon-menu__list {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  justify-content: flex-end;

}

.accordeon-menu__item {
  display: flex;
}

.accordeon-menu__content {
  position: relative;
  background: center center no-repeat / cover;
  min-width: rem(80px);
  text-decoration: none;
}

.accordeon-menu__title {
  @include gagalin(rem(35px), white);
  position: absolute;
  white-space: nowrap;
  transform: rotate(270deg);
  top: 90%;
  right: 0;
  left: 0;
  text-transform: uppercase;

}

.accordeon-menu__item .accordeon-menu__text { 
  overflow: hidden;
  width: 0; 
  transition: .1s linear;
}

.accordeon-menu__item {
 
  &--active {
    @include phones {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .accordeon-menu__text {
      background: rgba(18, 19, 20, .8);
      transition: .3s linear;
      width: rem(650px);
      color: #fff;

      @include tablets {
        max-width: rem(580px);
      }
      @include phones {
        .acco__exit {
          top: 6px;
          right: 6px;
          width: 15px;
          height: 3px;
          background-color: #fff;
          position: absolute;
          transform: translate3d(0, 10px, 0) rotate(45deg);
          margin-right: rem(2px);
          
          &:before{
            content: "";
            bottom: -20px;
            width: 15px;
            height: 3px;
            position: absolute;
            background-color: #fff;
            transform: translate3d(0, -20px, 0) rotate(-90deg);
          }
        }      
      }
      }
    }
    .menu__text {
    
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      max-width: 100%;
      line-height: 1.8;
      padding: rem(50px) rem(25px);
    }
  }
