.team {
  position: relative;
  background: url('../img/section_team/team.png') center center / cover no-repeat;
}
.team__hover {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: #343739;
  opacity: .93;
  transition: opacity .3s;
}
.team__right {
  display: flex;
  flex-direction: column;
 padding: 12% 0% 0% 17%;
}
.accordeon {
  padding-top: 46px;
}
.accordeon__item {


}
.accordeon__member-desk--nonactive{
  overflow: hidden;
  height: 0;
  }
.accordeon__member-desk {
  margin-top: 10px;
  margin-bottom: 35px;
  display: flex;
}

.accordeon__picture {
  margin-right: 21px;
}
.accordeon__img {
  max-width: 100px;
  height: 93px;
  border-radius: 50%;
  overflow: hidden;
}
.accordeon__desc{
  max-width: 47%;
  vertical-align: top;
}
.accordeon__title {
@include Ubuntu(14px, 700);
  margin-bottom: 12px;
}

.accordeon__text {
  @include Ubuntu(14px, 300);
}