.title {
  @include title(rem(72px), $yellow);

  &--color {
    &--black {
      @include title(rem(72px), $black);
      font-family: $gagalin;
      text-align: center;
      margin-bottom: rem(55px);
    }

    &--white {
      @include title(rem(14px), white);
      font-family: $gagalin;
      margin-bottom: rem(17px);
    }

    &--white--arrow {
      @include title(rem(14px), white);
      font-family: $gagalin;
      margin-bottom: rem(17px);

      &:last-child {
        margin-right: 0px;
      }

      &:before {
        content: "";
        width: 9px;
        height: 7px;
        display: inline-flex;
        vertical-align: middle;
        background: url('../img/section_team/Polygon_down.png') no-repeat center center;
        margin-right: rem(10px);
        transform: rotate(0deg);
      }
    }
  }
}